.progress {
    height: .8rem;
    border-radius: 10rem;
    .progress-bar {
        border-radius: 10rem;
    }
    &--primary {
        background-color: $primary-color-less;
        .progress-bar {
            background-color: $primary-color;
        }
    }
    &--secondary {
        background-color: $secondary-color-less;
        .progress-bar {
            background-color: $secondary-color;
        }
    }
}