.link-btn {
    @include link-btn-mx;
    &--extra-small {
        height: 3.2rem;
        line-height: 3rem;
        font-size: $de-font;
    }
    &--small {
        height: 3.6rem;
        line-height: 3.4rem;
        font-size: $de-font;
    }
    &--medium {
        height: 4rem;
        line-height: 3.8rem;
        font-size: $de-font;
    }
    &--round {
        border-radius: 10rem;
    }
    &--sort {
        width: 10.6rem;
    }
    &--padding {
        padding-left: 1.6rem !important;
        padding-right: 1.6rem !important;
        width: auto;
    }
    &--padding-big {
        padding-left: 3.2rem !important;
        padding-right: 3.2rem !important;
        width: auto;
    }
    &--expand {
        @include the-arrow(1.6rem, $angle-down);
        &._expanded {
            @include the-arrow--expanded;
        }
    }
    &__primary {
        @include link-btn-color-mx(#fff, $primary-color, $primary-color);
    }
    &__secondary {
        @include link-btn-color-mx(#fff, $secondary-color, $secondary-color);
    }
    &__tertiary {
        @include link-btn-color-mx($de-color, #fff, $disabled-color);
    }
    &__quaternary {
        @include link-btn-color-mx($de-color, #fff, #fff);
    }
    &__error {
        @include link-btn-color-mx(#fff, $tertiary-color, $tertiary-color);
    }
    &__negative {
        @include link-btn-color-mx($disabled-color, #fff, #fff);
    }
    &__negative-error {
        @include link-btn-color-mx($tertiary-color, #fff, $tertiary-color);
    }
    &__negative-primary {
        @include link-btn-color-mx($de-color, #fff, $primary-color);
    }
}

.link-btn-expand-wrapper {
    position: relative;
    border-radius: .4rem;
    &__content {
        height: 0;
        opacity: 0;
        width: 100%;
        position:absolute;
        top: 0;
        border-bottom-left-radius: $radius-small;
        border-bottom-right-radius: $radius-small;
        overflow: hidden;
        &._expanded {
            height: auto;
            opacity: 1;
            transition: .3s ease-in-out;
        }
        &__block-btn {
            height: 4.8rem; //disamakan dengan height link-btn
            &--small {
                height: 3.6rem; //disamakan dengan height link-btn
            }
            &--medium {
                height: 4rem; //disamakan dengan height link-btn
            }
        }
        &__main {
            background-color:#fff;
            position: relative;
            top: -.4rem;
            margin-bottom: -.4rem;
            padding: 1.2rem 1.6rem .6rem;
            &__link {
                display: block;
                margin-bottom: 1.2rem;
                &--unique {
                    color: $tertiary-color;
                    &:hover {
                        color: $tertiary-color;
                    }
                }
            }
        }
        &._v2 {
            border-radius: 0;
            @media (min-width: 768px) {
                min-width: 24rem;
                right: 0;
            }
            &._expanded {
                top: 4.2rem;
            }
            > div {
                padding: 0;
                ._top {
                    padding: 1.6rem;
                }
                ._bottom {
                    
                }
            }
        }
        
    }
}

input {
    &.link-btn {
        line-height: unset;
    }
}