#top-bg {
    position: absolute;
    width: 100%;
    top: 0;
    height: 24rem;
    background: #1fa2ff; // Old browsers
    background: -moz-linear-gradient(-45deg, #1fa2ff 0%, #61ddec 100%); // FF3.6-15
    background: -webkit-linear-gradient(-45deg, #1fa2ff 0%,#61ddec 100%); // Chrome10-25,Safari5.1-6 
    background: linear-gradient(135deg, #1fa2ff 0%,#61ddec 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fa2ff', endColorstr='#61ddec',GradientType=1 ); // IE6-9 fallback on horizontal gradient 
    z-index: -1;
}

.right-side-wrapper {
    min-height:calc(100vh - 16.8rem);
}

// Avatar Image
.avatar {
    border-radius: 50%;
    object-fit: cover;
    &--small {
        height: 2.4rem;
        width: 2.4rem;
    }
    &--medium {
        height: 4rem;
        width: 4rem;
    }
    &--large {
        height: 8rem;
        width: 8rem;
    }
}

//
.icon {
    position: relative;
    &--notif {
        &::after {
            color: $error-color;
            content: '●';
            font-size: $de-font + .4;
            position: absolute;
            top: -.7rem;
            right: .2rem;
        }
    }
    &--large {
        font-size: $de-font + 1.2;
    }
    &--medium {
        font-size: $de-font + .6;
    }
}

//
.progressbar-team {
    margin-bottom: 1.6rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__top {
        padding-bottom: .8rem;
    }
    &__bottom {
        padding-top: .8rem;
    }
}

//
.tab-team {
    &__head {  
        &__link-wrapper {
            padding: 0 4rem;
            position: relative;
            top: .1rem;
            &__link {
                a {
                    display: block;
                    font-size: $de-font + .4;
                    font-weight: 700;
                    padding-top: .2rem;
                    padding-bottom: 1.6rem;
                    border-bottom: solid 0 $primary-color;
                    min-width: 12rem;
                    margin-right: 2.4rem;
                    color: $disabled-color;
                    transition-timing-function: ease-in;
                    transition: 0.3s;
                    &.active {
                        padding-bottom: 1.2rem;
                        border-bottom: solid .4rem $primary-color;
                        color: $primary-color
                    }
                }
            }
        }
    }
    &__body {
    }
    @media (max-width: 767.98px) {
        &__head {  
            &__link-wrapper {
                padding: 0 2rem;
                &__link {
                    a {
                        font-size: $de-font + .2;
                        padding-bottom: .8rem;
                        min-width: 0;
                        &.active {
                            padding-bottom: .6rem;
                        }
                    }
                }
            }
        }
    }
}

.tab-team2 {
    &__head {

        &__link-wrapper {
            position: relative;
            top: .1rem;
            &__link {
                a {
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    border: .1rem solid transparent;
                    border-radius: $radius-small;
                    outline: none;
                    color: $disabled-color;
                    height: 3.2rem;
                    line-height: 3rem;
                    padding-left: 3.2rem;
                    padding-right: 3.2rem;
                    transition-timing-function: ease-in;
                    transition: 0.2s;
                    @include box-shadow(none);
                    &.active {
                        color:#fff;
                        border-color: $primary-color;
                        background-color: $primary-color;
                        @include box-shadow($shadow);
                        &:hover {
                            background-color: lighten($primary-color, 5%);
                            border-color: lighten($primary-color, 5%);
                        }
                    }
                }
            }
        }
    }
    &__body {
        padding: 2.4rem 0;
    }
    @media (max-width: 767.98px) {
        &__head {  
            &__link-wrapper {
                &__link {
                    width: 50%;
                    a {
                        padding: 0;
                    }
                }
            }
        }
    }
}

//
.login {
    &-logo-wrapper {
        text-align: center;
        margin: 1.6rem 0 4rem;
        img {
            width: 15.4rem;
        }
    }
}

//
.quick-view {
    &__user {
        &__text {
            line-height: 4rem;
        }
        &__name {
            padding-left: 1.6rem;
        }
    }
    &__progressbar {
        padding: 1.6rem 0;
    }
}

//side menu
.side-menu {
    &__head-link {
        padding: 1.2rem 0;
        &:first-child {
            padding-top: 0;
        }
        @include the-arrow(0, $angle-up);
        &.collapsed {
            @include the-arrow--expanded;
        }
        &._no-arrow {
            &::after {
                content:'';
            }
        }
    }
    &__body {
        &__link {
            display: block;
            margin: 1.2rem 0;
            i {
                font-size: $de-font + .4;
            }
            &._active {
                color: $primary-color;
                font-weight: 700;
            }
        }
    }
}

.status {
    border-radius: 10rem;
    // width: 10.4rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: .4rem 0;
    &--progress {
        background-color: $primary-color;
    }
    &--success {
        background-color: $secondary-color;
    }
    &--warning {
        background-color: $quaternary-color;
    }
    &--decline {
        background-color: $tertiary-color;
    }
}

//Inbox
.inbox {
    // > div {
    //     height: calc(100vh - 25.7rem);
    //     overflow: hidden;
    //     overflow-y: auto;
    // }
    &__left {
        padding: 4rem 2.5rem 2.4rem 4rem !important;
        &__contacts {
            margin-top: 3.2rem;
            height: calc(100vh - 40.1rem);
            overflow: hidden;
            overflow-y: auto;
            position: relative;
            //Inbox Empty
            &__empty {
                text-align: center;
                position: absolute;
                top:44%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 18rem;
                span {
                    display: block;
                    margin: 2.4rem 0;
                }
            }
            &__fill {
                &__contact {
                    margin-bottom: 3.2rem;
                    ._first {
                        ._contact {
                            margin-bottom: .4rem;
                        }
                    }
                    ._second {
                        ._content {
                            color: $disabled-color;
                        }
                        ._date {
                            color: $disabled-color;
                        }
                    }
                    &._newM {
                        font-weight: 700;
                        ._first {
                            ._notice {
                                width: .8rem;
                                height: .8rem;
                                background: $error-color;
                                display: block;
                                border-radius: 50%;
                                position: relative;
                                top: 6px;
                            }
                        }
                    }
                    &._readM {
                        border-left: .4rem solid $primary-color;
                        margin-left: -4rem;
                        padding-left: 4rem;
                        ._first {
                            ._contact {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

    }
    &__right {
        border-left: .1rem solid $disabled-color;
        //Inbox New
        &__new {
            &__head {
                height: 6rem;
                border-bottom: .1rem solid $disabled-color;
                padding: 1.5rem 2.5rem;
                a {
                    i {
                        font-size: $de-font + 1;
                    }
                }
                span {
                    color: $primary-color;
                    position: relative;
                    top: -.3rem;
                    margin-left: 1.6rem;
                }
            }
            &__to {
                display: flex;
                border-bottom: .1rem solid $disabled-color;
                padding-left: 2.5rem;
                label {
                    margin: 0;
                    line-height: 4.8rem;
                }
                input,
                input:hover,
                    input:focus {
                    flex: 1;
                    border:none;
                    display: inline;
                }
            }
            &__contacts {
                height: calc(100vh - 36.6rem);
                overflow: hidden;
                overflow-y: auto;
                &__contact {
                    padding: 1.6rem 2.5rem;
                    transition: .1s ease-in-out;
                    ._name {
                        margin-bottom: .4rem;
                    }
                    ._number {
                        color: $primary-color;
                    }
                    &:hover {
                        background-color: $primary-color-less;
                    }
                }
            }
        }
        //Inbox Conversation
        &__conversation {
            &__head {
                padding: .8rem 4rem .8rem 2.5rem;
                border-bottom: .1rem solid $disabled-color;
                &__contact {
                    ._name {
                        color: $primary-color;
                        margin-bottom: .4rem;
                    }
                    ._number {
                        color: $disabled-color;
                    }
                }
                &__search {
                    width: 2rem;
                    position: relative;
                    label {
                        margin: 0;
                        font-size: $de-font + .8;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        cursor: pointer;
                    }
                }
            }
            &__body {
                height: calc(100vh - 40.8rem);
                overflow: hidden;
                overflow-y: auto;
                padding: 2.4rem 4rem 2.4rem 2.5rem;
            }
            &__input {
                padding: 2.4rem 4rem 2.4rem 2.5rem;
                input {
                    height: 4rem;
                }
                button {
                    background-color: $primary-color;
                    color: #fff;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    border: none;
                    text-align: center;
                    position: relative;
                    left: .1rem;
                    margin-left: .8rem;
                    transition-timing-function: ease-in;
                    transition: 0.2s;
                    &:hover,
                        &:focus {
                        background-color: lighten($primary-color, 5%);
                    }
                }
            }
        }
    }
}

.ballon-conv {
    position: relative;
    margin-bottom: 1.6rem;
    ._content {
        border-radius: 1rem;
        padding: .8rem 1.6rem;
        width: 85%;
        margin-bottom: .8rem;
    }
    ._note {
        font-size: $de-font - .4;
        display: block;
        color: $disabled-color;
        &._alert {
            color: $tertiary-color;
        }

    }
    &--left {
        ._content {
            background-color: $primary-color-less;
        }
    }
    &--right {
        ._content {
            background-color: $primary-color;
            margin-left: auto;
            color: #fff;
        }
        ._note {
            text-align: right;
        }
    }
}

.select-receiver {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 60.3rem);
    min-height: 30rem;
}

.user-avatar {
    @media (max-width: 575.98px) {
        display: block;
        text-align: center;
        img {
            margin: 0 0 1.2rem 0;
        }
        > div {
            text-align: left;
            > * {
                > label {
                    text-align: center;
                }
                > span {
                    text-align: center;
                    margin-bottom: 1.2rem;
                }
            }

        }
    }
}

.modal-content {
    border-radius: .8rem;
    border: none;
    padding: 2.4rem 4.6rem;
    @media (max-width: 767.98px) {
        padding: 1.4rem 1.6rem;
    }
}

//Notification
.notification-wrapper {
    position: relative;
}
.notification {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 6.8rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
    animation: .3s ease-in-out;
    &::before {
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        content: '';
        position: absolute;
        right: 28px;
        top: -9px;
        filter: drop-shadow(0 -.4rem .2rem rgba(0, 0, 0, 0.16)) !important;
    }
    &._active {
        height: auto;
        overflow: unset;
        opacity: 1;
        transition: .4s ease-in-out;
    }
    &__head {
        padding: 2rem 0;
        border-bottom: .1rem solid #f1f1f3;
    }
    &__list {
        display: block;
        padding: .6rem 2.4rem;
        border-bottom: .1rem solid #f1f1f3;
        &--unread {
            background-color: $primary-color-less;
        }
        ._name {

        }
        ._time {
            font-size: $de-font - .3;
            line-height: 2rem;
            color: $disabled-color;
        }
        ._des {
            font-size: $de-font - .3;
            color: $disabled-color;
        }
    }
    &__foot {
        padding: 2rem 0;
    }
}

//Preview message
.preview-message {
    background-color: $primary-color-less;
    margin: 1.6rem 0;
    border-radius: $radius-small;
    padding: .8rem 1.6rem;
    text-align: left;
}

// Switch Checkbox
.switch-checkbox-wrapper {
}
.switch-checkbox {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 35px;
}

.switch-checkbox input {
    display:none;
}

.slider-switch-checkbox {
    background-color: $primary-color-less;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider-switch-checkbox:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 16px;
    left: 1px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider-switch-checkbox {
    background-color: $secondary-color;
}

input:checked + .slider-switch-checkbox:before {
    transform: translateX(17px);
}

.slider-switch-checkbox.round {
    @extend .shadow-in;
    border-radius: 34px;
}

.slider-switch-checkbox.round:before {
    @extend .shadow;
    border-radius: 50%;
}
.set-reminder {
    > div {
        > div {
            span {
                color: $disabled-color;
            }
            button {
                color: $disabled-color;
                cursor:not-allowed;
            }
            .alarm-time {
                color: $disabled-color;
                font-weight: bold;
                padding: 0;
                &:disabled {
                    background-color: transparent;
                }
                &:focus,
                    &:active,
                    &:hover,
                    &:visited {
                    border: none;
                    box-shadow: none;
                }
                &#ppReminderBtn {
                    cursor: pointer;
                }
            }
        }
    }
    &.checked_ {
        > div {
            > div {
                span {
                    color: $de-color;
                }
                button {
                    color: $primary-color;
                    cursor: pointer;
                }
                .alarm-time {
                    color: $primary-color;
                }
            }
        }
    }
}

//Time Date Scredule
.time-date-wrapper {
    height: 0;
    overflow: hidden;
    animation: .3s ease-in-out;
    &._show {
        height: auto;
        overflow: unset;
        animation: .3s ease-in-out;
    }
}

//Address Book
.add-c {
    display: none;
    &._active {
        display: block;
    }
}
.add-g {
    display: none;
    &._active {
        display: block;
    }
