.tagify {
    min-height: 4.8rem;
    border: .1rem solid $disabled-color;
    border-radius: $radius-small;
    overflow: hidden;
    width: 100%;
    &:hover {
        border-color: $primary-color;
    }
    tag>div {
        &::before {
            background: $primary-color-less;
        }
    }
    tag:hover:not([readonly]) div::before {
        background-color: $secondary-color-less;
    }
}