.fbold {
    font-weight: 600 !important;
}

.fsize-m-2 {
    font-size:$de-font - .2 !important;
}

.fsize-p-4 {
    font-size:$de-font + .4 !important;
}

.fsize-p-6 {
    font-size:$de-font + .6 !important;
}

.fsize-p-14 {
    font-size:$de-font + 1.4 !important;
}

.fsize-p-18 {
    font-size: $de-font + 1.8 !important;
    @media (max-width: 767.98px) {
        font-size: $de-font + 1.2 !important;
    }
}

.fcolor-default2 {
    color: $de-color2 !important;
}

.fcolor-primary {
    color: $primary-color !important;
}

.fcolor-secondary {
    color: $secondary-color !important;
}

.fcolor-tertiary {
    color: $tertiary-color !important;
}

.fcolor-quaternary {
    color: $quaternary-color !important;
}

.fcolor-disabled {
    color: $disabled-color !important;
}