footer {
    font-size: $de-font - .6;
    color: $disabled-color;
    padding: 2.4rem 0;
    a {
        color: $primary-color;
        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }
}