[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
input[readonly],
textarea[readonly],
textarea,
select
{
    font-size: $de-font;
    color: $de-color;
    border:.1rem solid $disabled-color;
    padding: 1.3rem 1.6rem;
    height: 4.8rem;
    width: 100%;
    border-radius: $radius-small;
    background-color: #fff;
    transition-timing-function: ease-in;
    transition: 0.2s;
    outline: none;
    &.input-small {
        height: 3.2rem;
        font-size: $de-font - .2;
        padding: .8rem;
    }
}

textarea::placeholder,
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $disabled-color;
    opacity: 1; /* Firefox */
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $disabled-color;
}
textarea::-ms-input-placeholder,
input::-ms-input-placeholder { /* Microsoft Edge */
    color: $disabled-color;
}

// input:-moz-read-only { /* For Firefox */
//     background-color: transparent;
// }

// input:read-only {
//     background-color: transparent;
// }

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus,
select:focus
{
    font-size: $de-font;
    color: $de-color;
    border:.1rem solid $primary-color;
    transition-timing-function: ease-out;
    transition: 0.4s;
    &.input-small {
        font-size: $de-font - .2;
    }
}

[type='checkbox'] {
    position: relative;
    top: .2rem;
}

// Remove Spin Button on Number Input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

// Remove Spin Button on Number Input (Firefox)
input[type=number] {
    -moz-appearance:textfield;
}

textarea {
    resize: vertical;
    min-height: 8.8rem;
}

label {
    color: $de-color;
    font-size: $de-font;
}

input[readonly] {
    background-color: transparent;
    border-color:$de-color;
    &:hover, &:focus {
        background-color: transparent;
        border-color:$de-color;
    }
}

input:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    &:hover, &:focus {
        background-color: ($disabled-color, 5%);
        border-color:($disabled-color, 5%);
    }
}

.form-team {
    margin-bottom: 2.4rem;
    &--search-input {
        @include input-icon-left('\f2eb', 1.6rem, $de-font + 1);
        input {
            padding-left: 5.6rem;
        }
    }
    label {
        display: block;
        font-weight: 700;
        color: $de-color2;
        &._right {
            float: right;
            height: 0;
            top: -26px;
            position: relative;
            margin: 0;
            color: $disabled-color;
            font-weight: normal;
        }
    }
    &__img {
        img {
            margin-right: 2.4rem;
        }
    }
    &--arrow {
        @include the-arrow(1.6rem, $angle-down);
    }
    &--date {
        @include the-arrow(1.6rem, $calendar);
        &--small {
            &::after {
                right:.8rem;
            }
        }
    }
    &--time {
        @include the-arrow(1.6rem, $clock-o);
    }
    &--small {
        margin-bottom: 0;
        label {
            font-size: $de-font - .2;
            font-weight: normal;
            color: $de-color;
        }
    }
}

// radio
.radio-wrapper {
    margin: 0;
    input {
        display: none;
    }
    &__radio {
        color: $disabled-color;
        padding: 1rem 1.6rem;
        border-radius: $radius-small;
        transition: .1s ease-in-out;
        img {
            width: 4rem;
            height: 4rem;
            margin-right: 1.6rem;
            position: relative;
            top: .5rem;
        }
        span {
            font-size: $de-font - .2;
            font-weight: normal;
        }
        div {
            font-size: $de-font + .2;
            font-weight: 700;
        }
        &--primary-color {
            &._active {
                background-color: $primary-color;
                color: #fff;
            }
        }
        &--secondary-color {
            &._active {
                background-color: $secondary-color;
                color: #ffff;
            }
        }
        &--quaternary-color {
            &._active {
                background-color: $quaternary-color;
                color: #ffff;
            }
        }
        &--error-color {
            &._active {
                background-color: $error-color;
                color: #ffff;
            }
        }
        &--primary-color-bro {
            &._active {
                background-color: $primary-color-bro;
                color: #ffff;
            }
        }
        &--primary-color-re {
            &._active {
                color: $primary-color;
            }
        }
    } 
}

//Files
.form-file {
    display: flex;
    .file-label {
        font-size: $de-font - .2rem;
        color: $disabled-color;
        flex: 1;
        margin-left: .8rem;
        padding: 1rem 0;
    }
}

// checkbox
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 3.4rem;
    cursor: pointer;
    margin-bottom: 3.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1.4rem;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background-color:$primary-color-less;
    border-radius: $radius-small;
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
    background-color: $primary-color-less;
    transition: .2s ease-in-out;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
    background-color: $primary-color-less;
}
.checkbox-wrapper input ~ .select-contact ._number {
    color: $disabled-color;
    transition: .2s ease-in-out;
}

.checkbox-wrapper input:checked ~ .select-contact ._number {
    color: $primary-color;
}

.checkbox-wrapper input ~ .checkmark:after {
    content: "✔";
    color: $primary-color-less;
    transition: .2s ease-in-out;
    position: absolute;
    top: -.3rem;
    left: .2rem;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
    color: $primary-color;
}

//Validate
input {
    &.error {
        border-color: $error-color;
        &:focus {
            border-color: $error-color;
        }
    }
    &.valid {
        border-color: $secondary-color;
        &:focus {
            border-color: $secondary-color;
        }
    }
}

label.error {
    display: block;
    font-weight: normal;
    color: $error-color;
    transition: .2s ease-in-out;
    margin: .8rem 0 0;
}