a {
    color: $de-color;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
h1 {
    margin: 0;
}

.reset-p {
    padding: 0 !important;
    &--bottom {
        padding-bottom: 0 !important;
    }
    &--top {
        padding-top: 0 !important;
    }
    &--hor {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.reset-m {
    margin: 0 !important;
    &--bottom {
        margin-bottom: 0 !important;
    }
    &--top {
        margin-top: 0 !important;
    }
    &--hor {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

.hide {
    display: none !important;
}

.c-pointer {
    cursor: pointer;
}

.breakv {
    height: 1.6rem;
    &--big-med {
        height: 4rem;
    }
    &--big {
        height: 3.2rem;
    }
    &--small {
        height: .8rem;
    }
}

.load-spin {
    height: 3.2rem;
    width: 3.2rem;
}

.breakh {
    &__left {
        margin-left: 1.6rem;
        &--big {
            margin-left: 3.2rem;
        }
        &--medium {
            margin-left: 1.4rem;
        }
        &--small-med {
            margin-left: 1rem;
        }
        &--small {
            margin-left: .8rem;
        }
        &--x-small {
            margin-left: .4rem;
        }
    }
    &__right {
        margin-right: 1.6rem;
        &--big {
            margin-right: 3.2rem;
        }
        &--medium {
            margin-right: 1.4rem;
        }
        &--small-med {
            margin-right: 1rem;
        }
        &--small {
            margin-right: .8rem;
        }
        &--x-small {
            margin-right: .4rem;
        }
    }
    &__bottom {
        margin-bottom: 1.6rem;
        &--big {
            margin-bottom: 3.2rem;
        }
        &--medium-med {
            margin-bottom: 2.6rem;
        }
        &--medium {
            margin-bottom: 1.4rem;
        }
        &--small-med {
            margin-bottom: 1rem;
        }
        &--small {
            margin-bottom: .8rem;
        }
        &--x-small {
            margin-bottom: .4rem;
        }
        &--none {
            margin-bottom: 0;
        }
    }
    &__top {
        margin-top: 1.6rem;
        &--big-med {
            margin-top: 4rem;
        }
        &--big {
            margin-top: 3.2rem;
        }
        &--medium-med {
            margin-top: 2.6rem;
        }
        &--medium {
            margin-top: 1.4rem;
        }
        &--small-med {
            margin-top: 1rem;
        }
        &--small {
            margin-top: .8rem;
        }
        &--x-small {
            margin-top: .4rem;
        }
        &--none {
            margin-top: 0;
        }
    }
}

.border {
    &--left {
        border-left: .1rem solid $disabled-color;
    }
    &--right {
        border-right: .1rem solid $disabled-color;
    }
    &--top {
        border-top: .1rem solid $disabled-color;
    }
    &--bottom {
        border-bottom: .1rem solid $disabled-color;
    }
}

.p-relative {
    position: relative;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.block {
    display: block !important;
}

@media (max-width: 991.98px) {
    .breakh {
        &__reset--right--md {
            margin-right: 0 !important;
        }
    }
}

@media (max-width: 767.98px) {
    .breakh {
        &__reset--right--sm {
            margin-right: 0 !important;
        }
    }
    .block-sm {
        display: block !important;
    }
}

.right-align {
    text-align: right !important;
}
.center-align {
    text-align: center !important;
}

.right {
    float: right !important;
}

.main-wrapper {
    min-height: calc(100vh - 16.8rem);
    @media (max-width: 991.98px) {
        min-height: calc(100vh - 14.6rem);
    }
}

.wrapper {
    background-color: #fff;
    &--main-body {
        border-top: 1px solid $disabled-color;
    }
    &--no-bg {
        background-color:transparent;
    }
    &--rounded {
        border-radius: $radius;
    }
    &--rounded--small {
        border-radius: $radius-small;
    }
    &--padding {
        padding:1.6rem 2.4rem;
        &--equal {
            padding: 2.4rem;
        }
        &--small-equal {
            padding:1.6rem;
        }
        &--large {
            padding: 2.4rem 4rem;
            @media (max-width: 767.98px) {
                padding:1.2rem 2rem;
            }
        }
        &--large-equal {
            padding:4rem;
            padding-bottom: 4.8rem;
            @media (max-width: 767.98px) {
                padding:2rem;
                padding-bottom: 2.2rem;
            }
        }
        &--removeh {
            padding-right: 0;
            padding-left: 0;
        }
        &--removev {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &--offset {
        margin-bottom: 2.4rem;
        &__btn-wrapper--small {
            height: 1rem;
            margin-bottom: .8rem;
            .link-btn {
                position: relative;
                top: 1rem;
            }
        }
        &__btn-wrapper--large {
            height: 2.6rem;
            margin-bottom: .8rem;
            .link-btn {
                position: relative;
                top: 2.6rem;
            }
        }
    }
}
.wrapper-downspace {
    height: 3.6rem;
}

button {
    &:focus {
        outline: none;
    }
}

@mixin box-shadow($shadow) {
-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
        box-shadow: $shadow;
}
    
.shadow {
    @include box-shadow($shadow);
}

.shadow-in {
    @include box-shadow($shadow-in);
}
.shadow-alt {
    @include box-shadow($shadow-alt);
}

@mixin filter($shadow-img) {
  -webkit-filter: $shadow-img;
          filter: $shadow-img;
}

.shadow-img {
    @include filter($shadow-img);
}

.flexed {
    display: flex;
    &__1-w {
        flex: 1;
    }
    @media (max-width: 767.98px) {
        &--sm {
            display: block;
        }
    }
}

.tabled {
    display: table;
    &__cell {
        display: table-cell;
        &--top {
            vertical-align: top;
        }
        &--middle {
            vertical-align: middle;
        }
        &--bottom {
            vertical-align: bottom;
        }
    }
}

//Datatable Custom
.table-team {
    &.dataTable {
        border-collapse: collapse !important;
        th, td {
            border: 1px solid $disabled-color;
            padding: 1.6rem;
            position: relative;
            ._load {
                position: absolute;
                right: .6rem;
                top: calc(50% - 1.6rem);            
            }
        }
    }
}

.dt-custom {
    overflow: scroll;
    color: $de-color2;
    &._offset {
        @media (min-width: 768px) {
            margin-top: -3.5rem;
        }
        @media (max-width: 767.98px) {
            margin-top:2rem;
        }
    }
    &__filter {
        margin-bottom: 2.4rem;
        label {
            margin: 0;
            @include input-icon-left('\f2eb', 6.2rem, $de-font + .4);
        }
        input,
        input:focus {
            height: 3.2rem;
            font-size: $de-font - .2;
            outline: none !important;
            padding: 0 .8rem 0 3.4rem;
            width: 100%;
            max-width: 22rem;
        }
    }
    &__table {

    }
    &__paging {
        margin-top: .8rem;
        float: left;
        > div {
            position: relative;
            top: -.5rem;
        }
        .page-item {
            .page-link {
                color: $de-color;
                border-radius: 50%;
                height: 2.4rem;
                width: 2.4rem;
                line-height: 2.4rem;
                border: none;
                padding: 0;
                text-align: center;
                font-size: $de-font - .2;
                outline: none;
                margin-right: .8rem;
            }
            &.active {
                .page-link {
                    background-color: $primary-color;
                    color: #fff;
                    outline: none;
                }
            }
        }
        
    }
    &__info {
        margin-top: .8rem;
        float: right;
        > div {
            padding: 0 !important;
            font-size: $de-font - .2;
        }
        
    }
    &__length {
        margin-top: .8rem;
        float: right;
        margin-right: 1.6rem;
        label {
            font-size: $de-font - .2;
        }
        > div {
            position: relative;
            top: -.6rem;
        }
        select {
            font-size: $de-font - .2;
            color: $de-color;
            border:.1rem solid $disabled-color;
            padding: 0 3.2rem 0 .8rem;
            height: 3.2rem;
            width: 100%;
            border-radius: $radius-small;
            background-color: #fff;
            transition-timing-function: ease-in;
            transition: 0.2s;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
        }
    }
}