%col-n-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}
.col-2-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.col-3-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.col-4-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.col-5-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-6-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.col-7-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.col-8-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
.col-9-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}
.col-10-10 {
    @extend %col-n-10;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-1-10 {
    @extend %col-n-10;
}
.col-lg-2-10 {
    @extend %col-n-10;
}
.col-lg-3-10 {
    @extend %col-n-10;
}
.col-lg-4-10 {
    @extend %col-n-10;
}
.col-lg-5-10 {
    @extend %col-n-10;
}
.col-lg-6-10 {
    @extend %col-n-10;
}
.col-lg-7-10 {
    @extend %col-n-10;
}
.col-lg-8-10 {
    @extend %col-n-10;
}
.col-lg-9-10 {
    @extend %col-n-10;
}
.col-lg-10-10 {
    @extend %col-n-10;
}

@media (min-width: 992px) {
    .col-lg-1-10 {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
    .col-lg-2-10 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-lg-3-10 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-lg-4-10 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-lg-5-10 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-6-10 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-lg-7-10 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .col-lg-8-10 {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-lg-9-10 {
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    .col-lg-10-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.row {
    &--big {
        margin-left: -1.6rem !important;
        margin-right: -1.6rem !important;
        >* {
            padding-left: 1.6rem !important;
            padding-right: 1.6rem !important;
        }
    }
    &--medium-med {
        margin-left: -.9rem !important;
        margin-right: -.9rem !important;
        >* {
            padding-left: .9rem !important;
            padding-right: .9rem !important;
        }
    }
    &--medium {
        margin-left: -.7rem !important;
        margin-right: -.7rem !important;
        >* {
            padding-left: .7rem !important;
            padding-right: .7rem !important;
        }
    }
    &--med {
        margin-left: -.8rem !important;
        margin-right: -.8rem !important;
        >* {
            padding-left: .8rem !important;
            padding-right: .8rem !important;
        }
    }
    &--small-med {
        margin-left: -.5rem !important;
        margin-right: -.5rem !important;
        >* {
            padding-left: .5rem !important;
            padding-right: .5rem !important;
        }
    }
    &--small {
        margin-left: -.4rem !important;
        margin-right: -.4rem !important;
        >* {
            padding-left: .4rem !important;
            padding-right: .4rem !important;
        }
    }
    &--no {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        >* {
            padding-left:0rem !important;
            padding-right:0rem !important;
        }
    }
}