@mixin link-btn-mx {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: .1rem solid;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: $de-font + .4;
    border-radius: $radius-small;
    outline: none;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: 0.2s;
    i {
        font-size: $de-font + .6;
        position: relative;
        top: .3rem;
    }
    &:hover,
    &:focus {
        color:#fff;
        text-decoration: none;
    }
}

@mixin link-btn-color-mx($text-btn-color, $btn-color, $border-btn-color) {
    color: $text-btn-color;
    background-color: $btn-color;
    border-color: $border-btn-color;
    &:hover,
    &:focus {
        color: $text-btn-color;
        background-color: lighten($btn-color, 5%);
        border-color: lighten($border-btn-color, 5%);
    }
}

@mixin the-arrow($arrow-maright, $arrow-icon) {
    position:relative;
    &::after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        content: $arrow-icon;
        font-size: $de-font + .2;
        position: absolute;
        right: $arrow-maright;
        top: 50%;
        transform: translate(0, -50%);
        transition: .2s ease-in;
    }
}

@mixin the-arrow--expanded {
    &::after {
        transform: translate(0, -50%) rotate(180deg);
        transition: .3s ease-out;
    }
}

@mixin input-icon-left($input-icon, $left-position, $icon-size) {
    position:relative;
    &::after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        content: $input-icon;
        font-size: $icon-size;
        color: $de-color; 
        position: absolute;
        left: $left-position;
        top: 50%;
        transform: translate(0, -50%);
        transition: .2s ease-in;
    }
}