#nav-block {
    height: 6rem;
    margin: 2.4rem 0;
}

#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2.4rem 0;
    z-index: 9;
    transition: .4s ease-in-out;
    &__left {
        &__logo {
            height: 6rem; // wajib sama ya
            width: auto;
            transition: .4s ease-in-out;
            .a {
                fill: #fff;
                transition: .4s ease-in-out;
            }
            .b {
                fill: transparent;
            }
        }
    }
    &__right {
        height: 6rem; // wajib sama ya
        > div {
            height: 100%;
        }
        .drawer-btn {
            cursor: pointer;
            span {
                color: #fff;
            }
        }
    }   
}

.nav-bar-scrolled {
    background-color: #fff;
    padding: .8rem 0 !important;
    #nav-bar__left {
        &__logo {
            height: 5rem; // wajib sama ya
            .a {
                fill: $primary-color !important;
            }
        }
    }
    #nav-bar__right {
        height: 5rem; // wajib sama ya
        > div {
            height: 100%;
        }
        .drawer-btn {
            span {
                color: $de-color;
                transition: .4s ease-in-out;
            }
        }
    }   
}

//For Responsive mobile
@media (max-width: 991.98px) {
    #nav-block {
        height: 5rem;
        margin: 1.8rem 0;
    }
    #nav-bar {
        padding: 1.8rem 0;
        &__left {
            &__logo {
                height: 5rem; // wajib sama ya
            }
        }
        &__right {
            height: 5rem; // wajib sama ya
        }  
    }
}

.popup-bg {
    background-color: rgba(64, 64, 64, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    display: none;
    transition: .2s ease-in-out;
    &._active {
        opacity: 1;
        display: block;
    }
}
.drawer-wrapper {
    height: 100%;
    width: 100%;
    max-width: 42.5rem;
    background-color: #fff;
    position: fixed;
    right: -42.5rem;
    top: 0;
    z-index: 11;
    transition: .2s ease-in-out;
    .nav-bar-drawer {
        padding: 2.2rem 0 1rem;
        z-index: 12;
        transition: .4s ease-in-out;
        &.nav-bar-drawer-scrolled {
            padding: 1.3rem 0;
        }
        &__notification {
        }
    }
    .body-drawer {
        height: calc(100vh - 6.6rem);
        overflow: hidden;
        overflow-y: auto;
        .drawer-user-menu {
            padding-top: 30px;
            margin-top: 26px;
            margin-bottom: 26px;
            border-top: 1px solid $disabled-color;
        }
        &__notification {
            z-index: 1;
            width: 100%;
            margin: 2rem 0;
            &__head {
                padding: 2rem 0;
                border-bottom: .1rem solid #f1f1f3;
            }
            &__list {
                display: block;
                padding: .6rem 2.4rem;
                border-bottom: .1rem solid #f1f1f3;
                &--unread {
                    background-color: $primary-color-less;
                }
                ._name {
        
                }
                ._time {
                    font-size: $de-font - .3;
                    line-height: 2rem;
                    color: $disabled-color;
                }
                ._des {
                    font-size: $de-font - .3;
                    color: $disabled-color;
                }
            }
            &__foot {
                padding: 2rem 0;
            }
        }
    }
    &._active {
        right: 0;
    }
}