/* Based Framework */
@import url('bootstrap.min.css');

/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
$font-family:'Open Sans', sans-serif;

/* External CSS Import */
@import url('https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css');
@import url('datepicker.css');
@import url('dataTables.bootstrap4.min.css');
@import url('responsive.bootstrap4.min.css');
@import url('timepicki.css');
@import url('timepicki.custom.css');
@import url('tagify.css');
@import url('add-input.css');

html {
    font-size: $base-font;
}

body {
    background: $bg-color;
    font-family: $font-family;
    font-size: $de-font;
    color: $de-color;
}