//Color
$bg-color:#F2FAFF;
$bg2-color:#fff;
$de-color:#404040;
$de-color2:#797979;
$primary-color:#35A2E5;
$primary-color-less:#d7ecfa;
$primary-color-bro:#12D8FA;
$secondary-color:#00A271;
$secondary-color-less:#ceece1;
$tertiary-color:#E24627;
$quaternary-color:#FBB03B;
$disabled-color:#ADADAD;
$title-color:#1e3740;
$error-color:#db4a1b;
$white-color:#fff;
$gray-color:#abbdc4;

$base-font:10px;

$de-font:1.4rem;

//Border
$border:.1rem solid $disabled-color;
$radius:.8rem;
$radius-small:.4rem;

//Others
$shadow:0 .3rem .6rem 0 rgba(0, 0, 0, 0.16) !important;
$shadow-in: inset 0 0 .6rem 0 rgba(0, 0, 0, 0.16) !important;
$shadow-alt: 0 0 2rem 0 rgba(0, 0, 0, 0.16) !important;

$shadow-img: drop-shadow(0 .2rem .2rem rgba(0, 0, 0, 0.16)) !important;

//FA Icons
$angle-up:"\f113";
$angle-down:"\f110";
$calendar:"\f15c";
$clock-o:"\f18f";