.add-input {
    display: flex;
    margin-right: -4rem;
}
@media (max-width: 575.98px) {
    .add-input {
        margin-right: 0;
    }
}
.add-input > div {
    flex: 1;
}
.add-input > i {
    font-size: 2.8rem;
    padding: 1rem 0 0 1.2rem;
    color: #adadad;
}

.add-input-btn,
.remove_field {
    cursor: pointer;
}