@charset "UTF-8";
/* Based Framework */
@import url("bootstrap.min.css");
/* Font Family */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
/* External CSS Import */
@import url("https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css");
@import url("datepicker.css");
@import url("dataTables.bootstrap4.min.css");
@import url("responsive.bootstrap4.min.css");
@import url("timepicki.css");
@import url("tagify.css");
@import url("add-input.css");
@import url('select.dataTables.min.css');
html {
    font-size: 10px; }

body {
    background: #F2FAFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #404040; }

/* Bootstrap Edit */
.progress {
    height: .8rem;
    border-radius: 10rem; }
.progress .progress-bar {
    border-radius: 10rem; }
.progress--primary {
    background-color: #d7ecfa; }
.progress--primary .progress-bar {
    background-color: #35A2E5; }
.progress--secondary {
    background-color: #ceece1; }
.progress--secondary .progress-bar {
    background-color: #00A271; }

/* End Bootstrap Edit */
/* Grids */
.col-1-10, .col-2-10, .col-3-10, .col-4-10, .col-5-10, .col-6-10, .col-7-10, .col-8-10, .col-9-10, .col-10-10, .col-lg-1-10, .col-lg-2-10, .col-lg-3-10, .col-lg-4-10, .col-lg-5-10, .col-lg-6-10, .col-lg-7-10, .col-lg-8-10, .col-lg-9-10, .col-lg-10-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

.col-1-10 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }

.col-2-10 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

.col-3-10 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%; }

.col-4-10 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%; }

.col-5-10 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

.col-6-10 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }

.col-7-10 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%; }

.col-8-10 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }

.col-9-10 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%; }

.col-10-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

@media (min-width: 992px) {
    .col-lg-1-10 {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%; }

    .col-lg-2-10 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%; }

    .col-lg-3-10 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%; }

    .col-lg-4-10 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%; }

    .col-lg-5-10 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }

    .col-lg-6-10 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%; }

    .col-lg-7-10 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%; }

    .col-lg-8-10 {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%; }

    .col-lg-9-10 {
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%; }

    .col-lg-10-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; } }
.row--big {
    margin-left: -1.6rem !important;
    margin-right: -1.6rem !important; }
.row--big > * {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important; }
.row--medium-med {
    margin-left: -.9rem !important;
    margin-right: -.9rem !important; }
.row--medium-med > * {
    padding-left: .9rem !important;
    padding-right: .9rem !important; }
.row--medium {
    margin-left: -.7rem !important;
    margin-right: -.7rem !important; }
.row--medium > * {
    padding-left: .7rem !important;
    padding-right: .7rem !important; }
.row--med {
    margin-left: -.8rem !important;
    margin-right: -.8rem !important; }
.row--med > * {
    padding-left: .8rem !important;
    padding-right: .8rem !important; }
.row--small-med {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important; }
.row--small-med > * {
    padding-left: .5rem !important;
    padding-right: .5rem !important; }
.row--small {
    margin-left: -.4rem !important;
    margin-right: -.4rem !important; }
.row--small > * {
    padding-left: .4rem !important;
    padding-right: .4rem !important; }
.row--no {
    margin-left: 0rem !important;
    margin-right: 0rem !important; }
.row--no > * {
    padding-left: 0rem !important;
    padding-right: 0rem !important; }

/* End Grids */
/* Fonts */
.fbold {
    font-weight: 600 !important; }

.fsize-m-2 {
    font-size: 1.2rem !important; }

.fsize-p-4 {
    font-size: 1.8rem !important; }

.fsize-p-6 {
    font-size: 2rem !important; }

.fsize-p-14 {
    font-size: 2.8rem !important; }

.fsize-p-18 {
    font-size: 3.2rem !important; }
@media (max-width: 767.98px) {
    .fsize-p-18 {
        font-size: 2.6rem !important; } }

.fcolor-default2 {
    color: #797979 !important; }

.fcolor-primary {
    color: #35A2E5 !important; }

.fcolor-secondary {
    color: #00A271 !important; }

.fcolor-tertiary {
    color: #E24627 !important; }

.fcolor-quaternary {
    color: #FBB03B !important; }

.fcolor-disabled {
    color: #ADADAD !important; }

/* End Fonts */
/* Forms */
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
input[readonly],
textarea[readonly],
textarea,
select {
    font-size: 1.4rem;
    color: #404040;
    border: 0.1rem solid #ADADAD;
    padding: 1.3rem 1.6rem;
    height: 4.8rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: #fff;
    transition-timing-function: ease-in;
    transition: 0.2s;
    outline: none; }
[type='text'].input-small,
[type='password'].input-small,
[type='date'].input-small,
[type='datetime'].input-small,
[type='datetime-local'].input-small,
[type='month'].input-small,
[type='week'].input-small,
[type='email'].input-small,
[type='number'].input-small,
[type='search'].input-small,
[type='tel'].input-small,
[type='time'].input-small,
[type='url'].input-small,
[type='color'].input-small,
input[readonly].input-small,
textarea[readonly].input-small,
textarea.input-small,
select.input-small {
    height: 3.2rem;
    font-size: 1.2rem;
    padding: .8rem; }

textarea::placeholder,
input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ADADAD;
    opacity: 1;
    /* Firefox */ }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ADADAD; }

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ADADAD; }

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus,
select:focus {
    font-size: 1.4rem;
    color: #404040;
    border: 0.1rem solid #35A2E5;
    transition-timing-function: ease-out;
    transition: 0.4s; }
[type='text']:focus.input-small,
[type='password']:focus.input-small,
[type='date']:focus.input-small,
[type='datetime']:focus.input-small,
[type='datetime-local']:focus.input-small,
[type='month']:focus.input-small,
[type='week']:focus.input-small,
[type='email']:focus.input-small,
[type='number']:focus.input-small,
[type='search']:focus.input-small,
[type='tel']:focus.input-small,
[type='time']:focus.input-small,
[type='url']:focus.input-small,
[type='color']:focus.input-small,
textarea:focus.input-small,
select:focus.input-small {
    font-size: 1.2rem; }

[type='checkbox'] {
    position: relative;
    top: .2rem; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ''; }

input[type=number] {
    -moz-appearance: textfield; }

textarea {
    resize: vertical;
    min-height: 8.8rem; }

label {
    color: #404040;
    font-size: 1.4rem; }

input[readonly] {
    background-color: transparent;
    border-color: #404040; }
input[readonly]:hover, input[readonly]:focus {
    background-color: transparent;
    border-color: #404040; }

input:disabled {
    background-color: #ADADAD;
    border-color: #ADADAD; }
input:disabled:hover, input:disabled:focus {
    background-color: #ADADAD, 5%;
    border-color: #ADADAD, 5%; }

.form-team {
    margin-bottom: 2.4rem; }
.form-team--search-input {
    position: relative; }
.form-team--search-input::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 2.4rem;
    color: #404040;
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.form-team--search-input input {
    padding-left: 5.6rem !important; }
.form-team--search-input--small {
    position: relative; }
.form-team--search-input--small::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 2.4rem;
    color: #404040;
    position: absolute;
    left: 0.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.form-team--search-input--small input {
    padding-left: 3.6rem !important; }
.form-team label {
    display: block;
    font-weight: 700;
    color: #797979; }
.form-team label._right {
    float: right;
    height: 0;
    top: -26px;
    position: relative;
    margin: 0;
    color: #ADADAD;
    font-weight: normal; }
.form-team__img img {
    margin-right: 2.4rem; }
.form-team--arrow {
    position: relative; }
.form-team--arrow::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.6rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.form-team--date {
    position: relative; }
.form-team--date::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.6rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.form-team--date--small::after {
    right: .8rem; }
.form-team--time {
    position: relative; }
.form-team--time::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.6rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.form-team--small {
    margin-bottom: 0; }
.form-team--small label {
    font-size: 1.2rem;
    font-weight: normal;
    color: #404040; }

.radio-wrapper {
    margin: 0; }
.radio-wrapper input {
    display: none; }
.radio-wrapper__radio {
    color: #ADADAD;
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;
    transition: .1s ease-in-out; }
.radio-wrapper__radio img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    position: relative;
    top: .5rem; }
.radio-wrapper__radio span {
    font-size: 1.2rem;
    font-weight: normal; }
.radio-wrapper__radio div {
    font-size: 1.6rem;
    font-weight: 700; }
.radio-wrapper__radio--primary-color._active {
    background-color: #35A2E5;
    color: #fff; }
.radio-wrapper__radio--secondary-color._active {
    background-color: #00A271;
    color: #ffff; }
.radio-wrapper__radio--quaternary-color._active {
    background-color: #FBB03B;
    color: #ffff; }
.radio-wrapper__radio--error-color._active {
    background-color: #db4a1b;
    color: #ffff; }
.radio-wrapper__radio--primary-color-bro._active {
    background-color: #12D8FA;
    color: #ffff; }
.radio-wrapper__radio--primary-color-re._active {
    color: #35A2E5; }

.form-file {
    display: flex; }
.form-file .file-label {
    font-size: 1.2rem;
    color: #ADADAD;
    flex: 1;
    margin-left: .8rem;
    padding: 1rem 0; }

.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 3.4rem;
    cursor: pointer;
    margin-bottom: 3.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.checkbox-wrapper--2 {
    margin: 0;
    padding-left: 2.6rem;
    margin-bottom: .8rem; }
.checkbox-wrapper--2 .checkmark {
    top: .3rem; }

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1.4rem;
    left: 0;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #d7ecfa;
    border-radius: 0.4rem; }

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
    background-color: #d7ecfa;
    transition: .2s ease-in-out; }

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
    background-color: #d7ecfa; }

.checkbox-wrapper input ~ .select-contact ._number {
    color: #ADADAD;
    transition: .2s ease-in-out; }

.checkbox-wrapper input:checked ~ .select-contact ._number {
    color: #35A2E5; }

.checkbox-wrapper input ~ .checkmark:after {
    content: "✔";
    color: #d7ecfa;
    transition: .2s ease-in-out;
    position: absolute;
    top: -.3rem;
    left: .2rem; }

.checkbox-wrapper input:checked ~ .checkmark:after {
    color: #35A2E5; }

input.error {
    border-color: #db4a1b; }
input.error:focus {
    border-color: #db4a1b; }
input.valid {
    border-color: #00A271; }
input.valid:focus {
    border-color: #00A271; }

label.error {
    display: block;
    font-weight: normal;
    color: #db4a1b;
    transition: .2s ease-in-out;
    margin: .8rem 0 0; }

/* End Forms */
/* Buttons */
.link-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: .1rem solid;
    height: 4.8rem;
    line-height: 4.6rem;
    font-size: 1.8rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: 0.2s; }
.link-btn i {
    font-size: 2rem;
    position: relative;
    top: .3rem; }
.link-btn:hover, .link-btn:focus {
    color: #fff;
    text-decoration: none; }
.link-btn--extra-small {
    height: 3.2rem;
    line-height: 3rem;
    font-size: 1.4rem; }
.link-btn--small {
    height: 3.6rem;
    line-height: 3.4rem;
    font-size: 1.4rem; }
.link-btn--medium {
    height: 4rem;
    line-height: 3.8rem;
    font-size: 1.4rem; }
.link-btn--round {
    border-radius: 10rem; }
.link-btn--sort {
    width: 10.6rem; }
.link-btn--padding {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    width: auto; }
.link-btn--padding-big {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
    width: auto; }
.link-btn--expand {
    position: relative; }
.link-btn--expand::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.6rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.link-btn--expand._expanded::after {
    transform: translate(0, -50%) rotate(180deg);
    transition: .3s ease-out; }
.link-btn__primary {
    color: #fff;
    background-color: #35A2E5;
    border-color: #35A2E5; }
.link-btn__primary:hover, .link-btn__primary:focus {
    color: #fff;
    background-color: #4cace8;
    border-color: #4cace8; }
.link-btn__secondary {
    color: #fff;
    background-color: #00A271;
    border-color: #00A271; }
.link-btn__secondary:hover, .link-btn__secondary:focus {
    color: #fff;
    background-color: #00bc83;
    border-color: #00bc83; }
.link-btn__tertiary {
    color: #404040;
    background-color: #fff;
    border-color: #ADADAD; }
.link-btn__tertiary:hover, .link-btn__tertiary:focus {
    color: #404040;
    background-color: white;
    border-color: #bababa; }
.link-btn__quaternary {
    color: #404040;
    background-color: #fff;
    border-color: #fff; }
.link-btn__quaternary:hover, .link-btn__quaternary:focus {
    color: #404040;
    background-color: white;
    border-color: white; }
.link-btn__error {
    color: #fff;
    background-color: #E24627;
    border-color: #E24627; }
.link-btn__error:hover, .link-btn__error:focus {
    color: #fff;
    background-color: #e5593d;
    border-color: #e5593d; }
.link-btn__negative {
    color: #ADADAD;
    background-color: #fff;
    border-color: #fff; }
.link-btn__negative:hover, .link-btn__negative:focus {
    color: #ADADAD;
    background-color: white;
    border-color: white; }
.link-btn__negative-error {
    color: #E24627;
    background-color: #fff;
    border-color: #E24627; }
.link-btn__negative-error:hover, .link-btn__negative-error:focus {
    color: #E24627;
    background-color: white;
    border-color: #e5593d; }
.link-btn__negative-primary {
    color: #404040;
    background-color: #fff;
    border-color: #35A2E5; }
.link-btn__negative-primary:hover, .link-btn__negative-primary:focus {
    color: #404040;
    background-color: white;
    border-color: #4cace8; }

.link-btn-expand-wrapper {
    position: relative;
    border-radius: .4rem; }
.link-btn-expand-wrapper__content {
    height: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    overflow: hidden; }
.link-btn-expand-wrapper__content._expanded {
    height: auto;
    opacity: 1;
    transition: .3s ease-in-out; }
.link-btn-expand-wrapper__content__block-btn {
    height: 4.8rem; }
.link-btn-expand-wrapper__content__block-btn--small {
    height: 3.6rem; }
.link-btn-expand-wrapper__content__block-btn--medium {
    height: 4rem; }
.link-btn-expand-wrapper__content__main {
    background-color: #fff;
    position: relative;
    top: -.4rem;
    margin-bottom: -.4rem;
    padding: 1.2rem 1.6rem .6rem; }
.link-btn-expand-wrapper__content__main__link {
    display: block;
    margin-bottom: 1.2rem; }
.link-btn-expand-wrapper__content__main__link--unique {
    color: #E24627; }
.link-btn-expand-wrapper__content__main__link--unique:hover {
    color: #E24627; }
.link-btn-expand-wrapper__content._v2 {
    border-radius: 0; }
@media (min-width: 768px) {
    .link-btn-expand-wrapper__content._v2 {
        min-width: 24rem;
        right: 0; } }
.link-btn-expand-wrapper__content._v2._expanded {
    top: 4.2rem; }
.link-btn-expand-wrapper__content._v2 > div {
    padding: 0; }
.link-btn-expand-wrapper__content._v2 > div ._top {
    padding: 1.6rem; }
.link-btn-expand-wrapper__content._v2 > div ._bottom {
    border-top: 0.1rem solid #ADADAD; }
.link-btn-expand-wrapper__content._v2 > div ._bottom a {
    color: #35A2E5;
    padding: 1.6rem 0;
    text-align: center;
    display: block;
    font-weight: bold; }

input.link-btn {
    line-height: unset; }

/* End Buttons */
/* Global Styles */
a {
    color: #404040; }
a:hover {
    color: inherit;
    text-decoration: none; }

h1 {
    margin: 0; }

.reset-p {
    padding: 0 !important; }
.reset-p--bottom {
    padding-bottom: 0 !important; }
.reset-p--top {
    padding-top: 0 !important; }
.reset-p--hor {
    padding-left: 0 !important;
    padding-right: 0 !important; }

.reset-m {
    margin: 0 !important; }
.reset-m--bottom {
    margin-bottom: 0 !important; }
.reset-m--top {
    margin-top: 0 !important; }
.reset-m--hor {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.container {
    padding-right: 20px;
    padding-left: 20px; }

.hide {
    display: none !important; }

.c-pointer {
    cursor: pointer; }

.breakv {
    height: 1.6rem; }
.breakv--big-med {
    height: 4rem; }
.breakv--big {
    height: 3.2rem; }
.breakv--small {
    height: .8rem; }

.load-spin {
    height: 3.2rem;
    width: 3.2rem; }

.breakh__left {
    margin-left: 1.6rem; }
.breakh__left--big {
    margin-left: 3.2rem; }
.breakh__left--medium {
    margin-left: 1.4rem; }
.breakh__left--small-med {
    margin-left: 1rem; }
.breakh__left--small {
    margin-left: .8rem; }
.breakh__left--x-small {
    margin-left: .4rem; }
.breakh__right {
    margin-right: 1.6rem; }
.breakh__right--big {
    margin-right: 3.2rem; }
.breakh__right--medium {
    margin-right: 1.4rem; }
.breakh__right--small-med {
    margin-right: 1rem; }
.breakh__right--small {
    margin-right: .8rem; }
.breakh__right--x-small {
    margin-right: .4rem; }
.breakh__bottom {
    margin-bottom: 1.6rem; }
.breakh__bottom--big {
    margin-bottom: 3.2rem; }
.breakh__bottom--medium-med {
    margin-bottom: 2.6rem; }
.breakh__bottom--medium {
    margin-bottom: 1.4rem; }
.breakh__bottom--small-med {
    margin-bottom: 1rem; }
.breakh__bottom--small {
    margin-bottom: .8rem; }
.breakh__bottom--x-small {
    margin-bottom: .4rem; }
.breakh__bottom--none {
    margin-bottom: 0; }
.breakh__top {
    margin-top: 1.6rem; }
.breakh__top--big-med {
    margin-top: 4rem; }
.breakh__top--big {
    margin-top: 3.2rem; }
.breakh__top--medium-med {
    margin-top: 2.6rem; }
.breakh__top--medium {
    margin-top: 1.4rem; }
.breakh__top--small-med {
    margin-top: 1rem; }
.breakh__top--small {
    margin-top: .8rem; }
.breakh__top--x-small {
    margin-top: .4rem; }
.breakh__top--none {
    margin-top: 0; }

.border--left {
    border-left: 0.1rem solid #ADADAD; }
.border--right {
    border-right: 0.1rem solid #ADADAD; }
.border--top {
    border-top: 0.1rem solid #ADADAD; }
.border--bottom {
    border-bottom: 0.1rem solid #ADADAD; }

.p-relative {
    position: relative; }

.full-width {
    width: 100%; }

.half-width {
    width: 50%; }

.block {
    display: block !important; }

@media (max-width: 991.98px) {
    .breakh__reset--right--md {
        margin-right: 0 !important; } }
@media (max-width: 767.98px) {
    .breakh__reset--right--sm {
        margin-right: 0 !important; }

    .block-sm {
        display: block !important; } }
.right-align {
    text-align: right !important; }

.center-align {
    text-align: center !important; }

.right {
    float: right !important; }

.main-wrapper {
    min-height: calc(100vh - 16.8rem); }
@media (max-width: 991.98px) {
    .main-wrapper {
        min-height: calc(100vh - 14.6rem); } }

.wrapper {
    background-color: #fff; }
.wrapper--main-body {
    border-top: 1px solid #ADADAD; }
.wrapper--no-bg {
    background-color: transparent; }
.wrapper--rounded {
    border-radius: 0.8rem; }
.wrapper--rounded--small {
    border-radius: 0.4rem; }
.wrapper--padding {
    padding: 1.6rem 2.4rem; }
.wrapper--padding--equal {
    padding: 2.4rem; }
.wrapper--padding--small-equal {
    padding: 1.6rem; }
.wrapper--padding--large {
    padding: 2.4rem 4rem; }
@media (max-width: 767.98px) {
    .wrapper--padding--large {
        padding: 1.2rem 2rem; } }
.wrapper--padding--large-equal {
    padding: 4rem;
    padding-bottom: 4.8rem; }
@media (max-width: 767.98px) {
    .wrapper--padding--large-equal {
        padding: 2rem;
        padding-bottom: 2.2rem; } }
.wrapper--padding--removeh {
    padding-right: 0;
    padding-left: 0; }
.wrapper--padding--removev {
    padding-top: 0;
    padding-bottom: 0; }
.wrapper--offset {
    margin-bottom: 2.4rem; }
.wrapper--offset__btn-wrapper--small {
    height: 1rem;
    margin-bottom: .8rem; }
.wrapper--offset__btn-wrapper--small .link-btn {
    position: relative;
    top: 1rem; }
.wrapper--offset__btn-wrapper--large {
    height: 2.6rem;
    margin-bottom: .8rem; }
.wrapper--offset__btn-wrapper--large .link-btn {
    position: relative;
    top: 2.6rem; }

.wrapper-downspace {
    height: 3.6rem; }

button:focus {
    outline: none; }

.shadow, .slider-switch-checkbox.round:before {
    -webkit-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -moz-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -ms-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-in, .slider-switch-checkbox.round {
    -webkit-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -moz-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -ms-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-alt {
    -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.16) !important;
    -moz-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.16) !important;
    -ms-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.16) !important;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-img {
    -webkit-filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.16)) !important;
    filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.16)) !important; }

.flexed {
    display: flex; }
.flexed__1-w {
    flex: 1; }
@media (max-width: 767.98px) {
    .flexed--sm {
        display: block; } }

.tabled {
    display: table; }
.tabled__cell {
    display: table-cell; }
.tabled__cell--top {
    vertical-align: top; }
.tabled__cell--middle {
    vertical-align: middle; }
.tabled__cell--bottom {
    vertical-align: bottom; }

.table-team.dataTable {
    border-collapse: collapse !important; }
.table-team.dataTable th, .table-team.dataTable td {
    border: 1px solid #ADADAD;
    padding: 1.6rem;
    position: relative; }
.table-team.dataTable th ._load, .table-team.dataTable td ._load {
    position: absolute;
    right: .6rem;
    top: calc(50% - 1.6rem); }

.dt-custom {
    overflow: scroll;
    color: #797979; }
@media (min-width: 768px) {
    .dt-custom._offset {
        margin-top: -3.5rem; } }
@media (max-width: 767.98px) {
    .dt-custom._offset {
        margin-top: 2rem; } }
.dt-custom__filter {
    margin-bottom: 2.4rem; }
.dt-custom__filter label {
    margin: 0;
    position: relative; }
.dt-custom__filter label::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.8rem;
    color: #404040;
    position: absolute;
    left: 6.2rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.dt-custom__filter input,
.dt-custom__filter input:focus {
    height: 3.2rem;
    font-size: 1.2rem;
    outline: none !important;
    padding: 0 .8rem 0 3.4rem;
    width: 100%;
    max-width: 22rem; }
.dt-custom__paging {
    margin-top: .8rem;
    float: left; }
.dt-custom__paging > div {
    position: relative;
    top: -.5rem; }
.dt-custom__paging .page-item .page-link {
    color: #404040;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    margin-right: .8rem; }
.dt-custom__paging .page-item.active .page-link {
    background-color: #35A2E5;
    color: #fff;
    outline: none; }
.dt-custom__info {
    margin-top: .8rem;
    float: right; }
.dt-custom__info > div {
    padding: 0 !important;
    font-size: 1.2rem; }
.dt-custom__length {
    margin-top: .8rem;
    float: right;
    margin-right: 1.6rem; }
.dt-custom__length label {
    font-size: 1.2rem; }
.dt-custom__length > div {
    position: relative;
    top: -.6rem; }
.dt-custom__length select {
    font-size: 1.2rem;
    color: #404040;
    border: 0.1rem solid #ADADAD;
    padding: 0 3.2rem 0 .8rem;
    height: 3.2rem;
    width: 100%;
    border-radius: 0.4rem;
    background-color: #fff;
    transition-timing-function: ease-in;
    transition: 0.2s;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ''; }

/* End Global Styles */
/* Customs */
.tagify {
    min-height: 4.8rem;
    border: 0.1rem solid #ADADAD;
    border-radius: 0.4rem;
    overflow: hidden;
    width: 100%; }
.tagify:hover {
    border-color: #35A2E5; }
.tagify tag > div::before {
    background: #d7ecfa; }
.tagify tag:hover:not([readonly]) div::before {
    background-color: #ceece1; }

/* End Customs */
/* Navbar */
#nav-block {
    height: 6rem;
    margin: 2.4rem 0; }

#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2.4rem 0;
    z-index: 9;
    transition: .4s ease-in-out; }
#nav-bar__left__logo {
    height: 6rem;
    width: auto;
    transition: .4s ease-in-out; }
#nav-bar__left__logo .a {
    fill: #fff;
    transition: .4s ease-in-out; }
#nav-bar__left__logo .b {
    fill: transparent; }
#nav-bar__right {
    height: 6rem; }
#nav-bar__right > div {
    height: 100%; }
#nav-bar__right .drawer-btn {
    cursor: pointer; }
#nav-bar__right .drawer-btn span {
    color: #fff; }

.nav-bar-scrolled {
    background-color: #fff;
    padding: .8rem 0 !important; }
.nav-bar-scrolled #nav-bar__left__logo {
    height: 5rem; }
.nav-bar-scrolled #nav-bar__left__logo .a {
    fill: #35A2E5 !important; }
.nav-bar-scrolled #nav-bar__right {
    height: 5rem; }
.nav-bar-scrolled #nav-bar__right > div {
    height: 100%; }
.nav-bar-scrolled #nav-bar__right .drawer-btn span {
    color: #404040;
    transition: .4s ease-in-out; }

@media (max-width: 991.98px) {
    #nav-block {
        height: 5rem;
        margin: 1.8rem 0; }

    #nav-bar {
        padding: 1.8rem 0; }
    #nav-bar__left__logo {
        height: 5rem; }
    #nav-bar__right {
        height: 5rem; } }
.popup-bg {
    background-color: rgba(64, 64, 64, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    display: none;
    transition: .2s ease-in-out; }
.popup-bg._active {
    opacity: 1;
    display: block; }

.drawer-wrapper {
    height: 100%;
    width: 100%;
    max-width: 42.5rem;
    background-color: #fff;
    position: fixed;
    right: -42.5rem;
    top: 0;
    z-index: 11;
    transition: .2s ease-in-out; }
.drawer-wrapper .nav-bar-drawer {
    padding: 2.2rem 0 1rem;
    z-index: 12;
    transition: .4s ease-in-out; }
.drawer-wrapper .nav-bar-drawer.nav-bar-drawer-scrolled {
    padding: 1.3rem 0; }
.drawer-wrapper .body-drawer {
    height: calc(100vh - 6.6rem);
    overflow: hidden;
    overflow-y: auto; }
.drawer-wrapper .body-drawer .drawer-user-menu {
    padding-top: 30px;
    margin-top: 26px;
    margin-bottom: 26px;
    border-top: 1px solid #ADADAD; }
.drawer-wrapper .body-drawer__notification {
    z-index: 1;
    width: 100%;
    margin: 2rem 0; }
.drawer-wrapper .body-drawer__notification__head {
    padding: 2rem 0;
    border-bottom: .1rem solid #f1f1f3; }
.drawer-wrapper .body-drawer__notification__list {
    display: block;
    padding: .6rem 2.4rem;
    border-bottom: .1rem solid #f1f1f3; }
.drawer-wrapper .body-drawer__notification__list--unread {
    background-color: #d7ecfa; }
.drawer-wrapper .body-drawer__notification__list ._time {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #ADADAD; }
.drawer-wrapper .body-drawer__notification__list ._des {
    font-size: 1.1rem;
    color: #ADADAD; }
.drawer-wrapper .body-drawer__notification__foot {
    padding: 2rem 0; }
.drawer-wrapper._active {
    right: 0; }

/* End Navbar */
/* Content */
#top-bg {
    position: absolute;
    width: 100%;
    top: 0;
    height: 24rem;
    background: #1fa2ff;
    background: -moz-linear-gradient(-45deg, #1fa2ff 0%, #61ddec 100%);
    background: -webkit-linear-gradient(-45deg, #1fa2ff 0%, #61ddec 100%);
    background: linear-gradient(135deg, #1fa2ff 0%, #61ddec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fa2ff', endColorstr='#61ddec',GradientType=1 );
    z-index: -1; }

.right-side-wrapper {
    min-height: calc(100vh - 16.8rem); }

.avatar {
    border-radius: 50%;
    object-fit: cover; }
.avatar--small {
    height: 2.4rem;
    width: 2.4rem; }
.avatar--medium {
    height: 4rem;
    width: 4rem; }
.avatar--large {
    height: 8rem;
    width: 8rem; }

.icon {
    position: relative; }
.icon--notif::after {
    color: #db4a1b;
    content: '●';
    font-size: 1.8rem;
    position: absolute;
    top: -.7rem;
    right: .2rem; }
.icon--large {
    font-size: 2.6rem; }
.icon--medium {
    font-size: 2rem; }

.progressbar-team {
    margin-bottom: 1.6rem; }
.progressbar-team:last-child {
    margin-bottom: 0; }
.progressbar-team__top {
    padding-bottom: .8rem; }
.progressbar-team__bottom {
    padding-top: .8rem; }

.tab-team__head__link-wrapper {
    padding: 0 4rem;
    position: relative;
    top: .1rem; }
.tab-team__head__link-wrapper__link a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: .2rem;
    padding-bottom: 1.6rem;
    border-bottom: solid 0 #35A2E5;
    min-width: 12rem;
    margin-right: 2.4rem;
    color: #ADADAD;
    transition-timing-function: ease-in;
    transition: 0.3s; }
.tab-team__head__link-wrapper__link a.active {
    padding-bottom: 1.2rem;
    border-bottom: solid 0.4rem #35A2E5;
    color: #35A2E5; }
@media (max-width: 767.98px) {
    .tab-team__head__link-wrapper {
        padding: 0 2rem; }
    .tab-team__head__link-wrapper__link a {
        font-size: 1.6rem;
        padding-bottom: .8rem;
        min-width: 0; }
    .tab-team__head__link-wrapper__link a.active {
        padding-bottom: .6rem; } }

.tab-team2__head__link-wrapper {
    position: relative;
    top: .1rem; }
.tab-team2__head__link-wrapper__link a {
    display: block;
    text-align: center;
    font-weight: 600;
    border: .1rem solid transparent;
    border-radius: 0.4rem;
    outline: none;
    color: #ADADAD;
    height: 3.2rem;
    line-height: 3rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    transition-timing-function: ease-in;
    transition: 0.2s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
.tab-team2__head__link-wrapper__link a.active {
    color: #fff;
    border-color: #35A2E5;
    background-color: #35A2E5;
    -webkit-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -moz-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    -ms-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }
.tab-team2__head__link-wrapper__link a.active:hover {
    background-color: #4cace8;
    border-color: #4cace8; }
.tab-team2__body {
    padding: 2.4rem 0; }
@media (max-width: 767.98px) {
    .tab-team2__head__link-wrapper__link {
        width: 50%; }
    .tab-team2__head__link-wrapper__link a {
        padding: 0; } }

.login-logo-wrapper {
    text-align: center;
    margin: 1.6rem 0 4rem; }
.login-logo-wrapper img {
    width: 15.4rem; }

.quick-view__user__text {
    line-height: 4rem; }
.quick-view__user__name {
    padding-left: 1.6rem; }
.quick-view__progressbar {
    padding: 1.6rem 0; }

.side-menu__head-link {
    padding: 1.2rem 0;
    position: relative; }
.side-menu__head-link:first-child {
    padding-top: 0; }
.side-menu__head-link::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
.side-menu__head-link.collapsed::after {
    transform: translate(0, -50%) rotate(180deg);
    transition: .3s ease-out; }
.side-menu__head-link._no-arrow::after {
    content: ''; }
.side-menu__body__link {
    display: block;
    margin: 1.2rem 0; }
.side-menu__body__link i {
    font-size: 1.8rem; }
.side-menu__body__link._active {
    color: #35A2E5;
    font-weight: 700; }

.status {
    border-radius: 10rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: .4rem 0; }
.status--progress {
    background-color: #35A2E5; }
.status--success {
    background-color: #00A271; }
.status--warning {
    background-color: #FBB03B; }
.status--decline {
    background-color: #E24627; }

.inbox__left {
    padding: 4rem 2.5rem 2.4rem 4rem !important; }
.inbox__left__contacts {
    margin-top: 3.2rem;
    height: calc(100vh - 40.1rem);
    overflow: hidden;
    overflow-y: auto;
    position: relative; }
.inbox__left__contacts__empty {
    text-align: center;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem; }
.inbox__left__contacts__empty span {
    display: block;
    margin: 2.4rem 0; }
.inbox__left__contacts__fill__contact {
    margin-bottom: 3.2rem; }
.inbox__left__contacts__fill__contact ._first ._contact {
    margin-bottom: .4rem; }
.inbox__left__contacts__fill__contact ._second ._content {
    color: #ADADAD; }
.inbox__left__contacts__fill__contact ._second ._date {
    color: #ADADAD; }
.inbox__left__contacts__fill__contact._newM {
    font-weight: 700; }
.inbox__left__contacts__fill__contact._newM ._first ._notice {
    width: .8rem;
    height: .8rem;
    background: #db4a1b;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 6px; }
.inbox__left__contacts__fill__contact._readM {
    border-left: 0.4rem solid #35A2E5;
    margin-left: -4rem;
    padding-left: 4rem; }
.inbox__left__contacts__fill__contact._readM ._first ._contact {
    color: #35A2E5; }
.inbox__right {
    border-left: 0.1rem solid #ADADAD; }
.inbox__right__new__head {
    height: 6rem;
    border-bottom: 0.1rem solid #ADADAD;
    padding: 1.5rem 2.5rem; }
.inbox__right__new__head a i {
    font-size: 2.4rem; }
.inbox__right__new__head span {
    color: #35A2E5;
    position: relative;
    top: -.3rem;
    margin-left: 1.6rem; }
.inbox__right__new__to {
    display: flex;
    border-bottom: 0.1rem solid #ADADAD;
    padding-left: 2.5rem; }
.inbox__right__new__to label {
    margin: 0;
    line-height: 4.8rem; }
.inbox__right__new__to input,
.inbox__right__new__to input:hover,
.inbox__right__new__to input:focus {
    flex: 1;
    border: none;
    display: inline; }
.inbox__right__new__contacts {
    height: calc(100vh - 36.6rem);
    overflow: hidden;
    overflow-y: auto; }
.inbox__right__new__contacts__contact {
    padding: 1.6rem 2.5rem;
    transition: .1s ease-in-out; }
.inbox__right__new__contacts__contact ._name {
    margin-bottom: .4rem; }
.inbox__right__new__contacts__contact ._number {
    color: #35A2E5; }
.inbox__right__new__contacts__contact:hover {
    background-color: #d7ecfa; }
.inbox__right__conversation__head {
    padding: .8rem 4rem .8rem 2.5rem;
    border-bottom: 0.1rem solid #ADADAD; }
.inbox__right__conversation__head__contact ._name {
    color: #35A2E5;
    margin-bottom: .4rem; }
.inbox__right__conversation__head__contact ._number {
    color: #ADADAD; }
.inbox__right__conversation__head__search {
    width: 2rem;
    position: relative; }
.inbox__right__conversation__head__search label {
    margin: 0;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer; }
.inbox__right__conversation__body {
    height: calc(100vh - 40.8rem);
    overflow: hidden;
    overflow-y: auto;
    padding: 2.4rem 4rem 2.4rem 2.5rem; }
.inbox__right__conversation__input {
    padding: 2.4rem 4rem 2.4rem 2.5rem; }
.inbox__right__conversation__input input {
    height: 4rem; }
.inbox__right__conversation__input button {
    background-color: #35A2E5;
    color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    text-align: center;
    position: relative;
    left: .1rem;
    margin-left: .8rem;
    transition-timing-function: ease-in;
    transition: 0.2s; }
.inbox__right__conversation__input button:hover, .inbox__right__conversation__input button:focus {
    background-color: #4cace8; }

.ballon-conv {
    position: relative;
    margin-bottom: 1.6rem; }
.ballon-conv ._content {
    border-radius: 1rem;
    padding: .8rem 1.6rem;
    width: 85%;
    margin-bottom: .8rem; }
.ballon-conv ._note {
    font-size: 1rem;
    display: block;
    color: #ADADAD; }
.ballon-conv ._note._alert {
    color: #E24627; }
.ballon-conv--left ._content {
    background-color: #d7ecfa; }
.ballon-conv--right ._content {
    background-color: #35A2E5;
    margin-left: auto;
    color: #fff; }
.ballon-conv--right ._note {
    text-align: right; }

.select-receiver {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 60.3rem);
    min-height: 30rem; }

@media (max-width: 575.98px) {
    .user-avatar {
        display: block;
        text-align: center; }
    .user-avatar img {
        margin: 0 0 1.2rem 0; }
    .user-avatar > div {
        text-align: left; }
    .user-avatar > div > * > label {
        text-align: center; }
    .user-avatar > div > * > span {
        text-align: center;
        margin-bottom: 1.2rem; } }

.modal-content {
    border-radius: .8rem;
    border: none;
    padding: 2.4rem 4.6rem; }
@media (max-width: 767.98px) {
    .modal-content {
        padding: 1.4rem 1.6rem; } }

.notification-wrapper {
    position: relative; }

.notification {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 6.8rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
    animation: .3s ease-in-out; }
.notification::before {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: '';
    position: absolute;
    right: 28px;
    top: -9px;
    filter: drop-shadow(0 -0.4rem 0.2rem rgba(0, 0, 0, 0.16)) !important; }
.notification._active {
    height: auto;
    overflow: unset;
    opacity: 1;
    transition: .4s ease-in-out; }
.notification__head {
    padding: 2rem 0;
    border-bottom: .1rem solid #f1f1f3; }
.notification__list {
    display: block;
    padding: .6rem 2.4rem;
    border-bottom: .1rem solid #f1f1f3; }
.notification__list--unread {
    background-color: #d7ecfa; }
.notification__list ._time {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #ADADAD; }
.notification__list ._des {
    font-size: 1.1rem;
    color: #ADADAD; }
.notification__foot {
    padding: 2rem 0; }

.preview-message {
    background-color: #d7ecfa;
    margin: 1.6rem 0;
    border-radius: 0.4rem;
    padding: .8rem 1.6rem;
    text-align: left; }

.switch-checkbox {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 35px; }

.switch-checkbox input {
    display: none; }

.slider-switch-checkbox {
    background-color: #d7ecfa;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s; }

.slider-switch-checkbox:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 16px;
    left: 1px;
    position: absolute;
    transition: .4s;
    width: 16px; }

input:checked + .slider-switch-checkbox {
    background-color: #00A271; }

input:checked + .slider-switch-checkbox:before {
    transform: translateX(17px); }

.slider-switch-checkbox.round {
    border-radius: 34px; }

.slider-switch-checkbox.round:before {
    border-radius: 50%; }

.set-reminder > div > div span {
    color: #ADADAD; }
.set-reminder > div > div button {
    color: #ADADAD;
    cursor: not-allowed; }
.set-reminder > div > div .alarm-time {
    color: #ADADAD;
    font-weight: bold;
    padding: 0; }
.set-reminder > div > div .alarm-time:disabled {
    background-color: transparent; }
.set-reminder > div > div .alarm-time:focus, .set-reminder > div > div .alarm-time:active, .set-reminder > div > div .alarm-time:hover, .set-reminder > div > div .alarm-time:visited {
    border: none;
    box-shadow: none; }
.set-reminder > div > div .alarm-time#ppReminderBtn {
    cursor: pointer; }
.set-reminder.checked_ > div > div span {
    color: #404040; }
.set-reminder.checked_ > div > div button {
    color: #35A2E5;
    cursor: pointer; }
.set-reminder.checked_ > div > div .alarm-time {
    color: #35A2E5; }

.time-date-wrapper {
    height: 0;
    overflow: hidden;
    animation: .3s ease-in-out; }
.time-date-wrapper._show {
    height: auto;
    overflow: unset;
    animation: .3s ease-in-out; }

.add-c {
    display: none; }
.add-c._active {
    display: block; }

.add-g {
    display: none; }
.add-g._active {
    display: block; }

/* End Content */
/* Footer */
footer {
    font-size: 0.8rem;
    color: #ADADAD;
    padding: 2.4rem 0; }
footer a {
    color: #35A2E5; }
footer a:hover {
    text-decoration: none;
    color: #35A2E5; }
/* End Footer */

/*# sourceMappingURL=main.css.map */
