//timepicki
.time, .mins, .meridian {
    width: 32px;
    margin: 0;
    input {
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        &:focus {
            border:none;

        }
    }
}
input.timepicki-input {
    width: 100%;
    padding: 0;
    height: 26px;
}

.timepicker_wrap {
    padding: 7px 4px;
    border: 0;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(81, 77, 92, 0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(81, 77, 92, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(81, 77, 92, 0.2);
    background-color: #fff;
    .timepicki-input {
        width: 24px;
        height: 24px;
        padding: 2px;
        font-size: 11px;    
        position: relative;
        top: -2px;
    }
    .prev, .next {
        padding: 12px;
        background-image: none;
        height: 24px;
        border-radius: 0;
        background-color: $primary-color;
        color: #fff;
        border:none;
        border-radius: 4px;
        font-family: 'fontAwesome' !important;
        // &:hover {
        //     background-color: $primary-color;
        //     color: #fff;
        // }


    }

    .prev {
        &::before {
            content: '\f106';
            position: relative;
            top: -18px;
            left: -4px;
            font-size: 15px;
        }
    }

    .next {
        &::before {
            content: '\f107';
            position: relative;
            top: -17px;
            left: -4px;
            font-size: 15px;
        }
    }

    .ti_tx, .mi_tx, .mer_tx {
        margin: 4px 0;
    }

    .arrow_top {
        left: 60px;
    }
}