@charset "UTF-8";
/* Based Framework */
@import url("bootstrap.min.css");
/* Font Family */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
/* External CSS Import */
@import url("https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css");
html {
  font-size: 10px; }

body {
  background: #F2FAFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #404040; }

/* Bootstrap Edit */
.progress {
  height: .8rem;
  border-radius: 10rem; }
  .progress .progress-bar {
    border-radius: 10rem; }
  .progress--primary {
    background-color: #d7ecfa; }
    .progress--primary .progress-bar {
      background-color: #35A2E5; }
  .progress--secondary {
    background-color: #ceece1; }
    .progress--secondary .progress-bar {
      background-color: #00A271; }

/* End Bootstrap Edit */
/* Fonts */
.fbold {
  font-weight: 600; }

.fsize-m-2 {
  font-size: 1.2rem; }

.fsize-p-4 {
  font-size: 1.8rem; }

.fsize-p-18 {
  font-size: 3.2rem; }

.fcolor-primary {
  color: #35A2E5; }

.fcolor-secondary {
  color: #00A271; }

.fcolor-tertiary {
  color: #E24627; }

.fcolor-disabled {
  color: #ADADAD; }

/* End Fonts */
/* Forms */
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
input[readonly],
textarea[readonly],
textarea,
select {
  font-size: 1.4rem;
  color: #404040;
  border: 0.1rem solid #ADADAD;
  padding: 1.3rem 1.6rem;
  height: 4.8rem;
  width: 100%;
  border-radius: 0.4rem;
  background-color: #fff;
  transition-timing-function: ease-in;
  transition: 0.2s;
  outline: none; }

textarea::placeholder,
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ADADAD;
  opacity: 1;
  /* Firefox */ }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ADADAD; }

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ADADAD; }

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus,
select:focus {
  font-size: 1.4rem;
  color: #404040;
  border: 0.1rem solid #35A2E5;
  transition-timing-function: ease-out;
  transition: 0.4s; }

[type='checkbox'] {
  position: relative;
  top: .2rem; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ''; }

input[type=number] {
  -moz-appearance: textfield; }

textarea {
  resize: vertical;
  min-height: 8.8rem; }

label {
  color: #404040;
  font-size: 1.4rem; }

input[readonly] {
  background-color: transparent;
  border-color: #404040; }
  input[readonly]:hover, input[readonly]:focus {
    background-color: transparent;
    border-color: #404040; }

input:disabled {
  background-color: #ADADAD;
  border-color: #ADADAD; }
  input:disabled:hover, input:disabled:focus {
    background-color: #ADADAD, 5%;
    border-color: #ADADAD, 5%; }

.form-team {
  margin-bottom: 2.4rem; }
  .form-team label {
    display: block;
    font-weight: 700;
    color: #797979; }
  .form-team__img img {
    margin-right: 2.4rem; }
  .form-team--arrow {
    position: relative; }
    .form-team--arrow::after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      content: "\f110";
      font-size: 1.6rem;
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translate(0, -50%);
      transition: .2s ease-in; }

.radio-wrapper {
  margin: 0; }
  .radio-wrapper input {
    display: none; }
  .radio-wrapper__radio {
    color: #ADADAD;
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;
    transition: .1s ease-in-out; }
    .radio-wrapper__radio span {
      font-size: 1.2rem;
      font-weight: normal; }
    .radio-wrapper__radio div {
      font-size: 1.6rem;
      font-weight: 700; }
    .radio-wrapper__radio--primary-color._active {
      background-color: #35A2E5;
      color: #fff; }
    .radio-wrapper__radio--secondary-color._active {
      background-color: #00A271;
      color: #ffff; }

/* End Forms */
/* Buttons */
.link-btn {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  border: .1rem solid;
  height: 4.8rem;
  line-height: 4.6rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: 0.2s; }
  .link-btn i {
    font-size: 2rem;
    position: relative;
    top: .3rem; }
  .link-btn:hover, .link-btn:focus {
    color: #fff;
    text-decoration: none; }
  .link-btn--small {
    height: 3.6rem;
    line-height: 3.4rem;
    font-size: 1.4rem; }
  .link-btn--medium {
    height: 4rem;
    line-height: 3.8rem;
    font-size: 1.4rem; }
  .link-btn--round {
    border-radius: 10rem; }
  .link-btn--sort {
    width: 10.6rem; }
  .link-btn--padding {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: auto; }
  .link-btn--expand {
    position: relative; }
    .link-btn--expand::after {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      content: "\f110";
      font-size: 1.6rem;
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translate(0, -50%);
      transition: .2s ease-in; }
    .link-btn--expand._expanded::after {
      transform: translate(0, -50%) rotate(180deg);
      transition: .3s ease-out; }
  .link-btn__primary {
    color: #fff;
    background-color: #35A2E5;
    border-color: #35A2E5; }
    .link-btn__primary:hover, .link-btn__primary:focus {
      color: #fff;
      background-color: #4cace8;
      border-color: #4cace8; }
  .link-btn__secondary {
    color: #fff;
    background-color: #00A271;
    border-color: #00A271; }
    .link-btn__secondary:hover, .link-btn__secondary:focus {
      color: #fff;
      background-color: #00bc83;
      border-color: #00bc83; }
  .link-btn__tertiary {
    color: #404040;
    background-color: #fff;
    border-color: #ADADAD; }
    .link-btn__tertiary:hover, .link-btn__tertiary:focus {
      color: #404040;
      background-color: white;
      border-color: #bababa; }
  .link-btn__quaternary {
    color: #404040;
    background-color: #fff;
    border-color: #fff; }
    .link-btn__quaternary:hover, .link-btn__quaternary:focus {
      color: #404040;
      background-color: white;
      border-color: white; }
  .link-btn__negative {
    color: #ADADAD;
    background-color: #fff;
    border-color: #fff; }
    .link-btn__negative:hover, .link-btn__negative:focus {
      color: #ADADAD;
      background-color: white;
      border-color: white; }

.link-btn-expand-wrapper {
  position: relative;
  border-radius: .4rem; }
  .link-btn-expand-wrapper__content {
    height: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    overflow: hidden; }
    .link-btn-expand-wrapper__content._expanded {
      height: auto;
      opacity: 1;
      transition: .3s ease-in-out; }
    .link-btn-expand-wrapper__content__block-btn {
      height: 4.8rem; }
      .link-btn-expand-wrapper__content__block-btn--small {
        height: 3.6rem; }
      .link-btn-expand-wrapper__content__block-btn--medium {
        height: 4rem; }
    .link-btn-expand-wrapper__content__main {
      background-color: #fff;
      position: relative;
      top: -.4rem;
      padding: 1.2rem 1.6rem .6rem; }
      .link-btn-expand-wrapper__content__main__link {
        display: block;
        margin-bottom: 1.2rem; }
        .link-btn-expand-wrapper__content__main__link--unique {
          color: #E24627; }
          .link-btn-expand-wrapper__content__main__link--unique:hover {
            color: #E24627; }

input.link-btn {
  line-height: unset; }

/* End Buttons */
/* Global Styles */
a {
  color: #404040; }
  a:hover {
    color: inherit;
    text-decoration: none; }

h1 {
  margin: 0; }

.breakv {
  height: 1.6rem; }
  .breakv--small {
    height: .8rem; }

.breakh__left {
  margin-left: 1.6rem; }
  .breakh__left--big {
    margin-left: 3.2rem; }
  .breakh__left--medium {
    margin-left: 1.4rem; }
  .breakh__left--small-med {
    margin-left: 1rem; }
  .breakh__left--small {
    margin-left: .8rem; }
.breakh__right {
  margin-right: 1.6rem; }
  .breakh__right--big {
    margin-right: 3.2rem; }
  .breakh__right--medium {
    margin-right: 1.4rem; }
  .breakh__right--small-med {
    margin-right: 1rem; }
  .breakh__right--small {
    margin-right: .8rem; }

.row--big {
  margin-left: -1.6rem;
  margin-right: -1.6rem; }
  .row--big > * {
    padding-left: 1.6rem;
    padding-right: 1.6rem; }
.row--medium {
  margin-left: -.7rem;
  margin-right: -.7rem; }
  .row--medium > * {
    padding-left: .7rem;
    padding-right: .7rem; }
.row--small-med {
  margin-left: -.5rem;
  margin-right: -.5rem; }
  .row--small-med > * {
    padding-left: .5rem;
    padding-right: .5rem; }
.row--small {
  margin-left: -.4rem;
  margin-right: -.4rem; }
  .row--small > * {
    padding-left: .4rem;
    padding-right: .4rem; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.block {
  display: block; }

.right-align {
  text-align: right !important; }

.right {
  float: right !important; }

.main-wrapper {
  min-height: calc(100vh - 16.8rem); }

.wrapper {
  background-color: #fff; }
  .wrapper--no-bg {
    background-color: transparent; }
  .wrapper--rounded {
    border-radius: 0.8rem; }
  .wrapper--rounded--small {
    border-radius: 0.4rem; }
  .wrapper--padding {
    padding: 1.6rem 2.4rem; }
    .wrapper--padding--equal {
      padding: 2.4rem; }
    .wrapper--padding--small-equal {
      padding: 1.6rem; }
    .wrapper--padding--large {
      padding: 2.4rem 4rem; }
    .wrapper--padding--large-equal {
      padding: 4rem; }
    .wrapper--padding--removeh {
      padding-right: 0;
      padding-left: 0; }
    .wrapper--padding--removev {
      padding-top: 0;
      padding-bottom: 0; }
  .wrapper--offset {
    margin-bottom: 2.4rem; }
    .wrapper--offset__btn-wrapper--small {
      height: 1rem;
      margin-bottom: .8rem; }
      .wrapper--offset__btn-wrapper--small .link-btn {
        position: relative;
        top: 1rem; }
    .wrapper--offset__btn-wrapper--large {
      height: 2.6rem;
      margin-bottom: .8rem; }
      .wrapper--offset__btn-wrapper--large .link-btn {
        position: relative;
        top: 2.6rem; }

.wrapper-downspace {
  height: 3.6rem; }

button:focus {
  outline: none; }

.shadow {
  -webkit-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -moz-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -ms-box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-in {
  -webkit-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -moz-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -ms-box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  box-shadow: inset 0 0 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-alt {
  -webkit-box-shadow: 0 -0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -moz-box-shadow: 0 -0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  -ms-box-shadow: 0 -0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0 -0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16) !important; }

.shadow-img {
  -webkit-filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.16)) !important;
  filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.16)) !important; }

.flexed {
  display: flex; }
  .flexed__1-w {
    flex: 1; }

.tabled {
  display: table; }
  .tabled__cell {
    display: table-cell; }
    .tabled__cell--top {
      vertical-align: top; }
    .tabled__cell--middle {
      vertical-align: middle; }
    .tabled__cell--bottom {
      vertical-align: bottom; }

/* End Global Styles */
/* Navbar */
#nav-block {
  height: 6rem;
  margin: 2.4rem 0; }

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2.4rem 0;
  z-index: 9; }
  #nav-bar__left__logo {
    height: 6rem; }
    #nav-bar__left__logo .a {
      fill: #fff; }
  #nav-bar__right {
    height: 6rem; }
    #nav-bar__right > div {
      height: 100%; }

/* End Navbar */
/* Content */
#top-bg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 24rem;
  background: #1fa2ff;
  background: -moz-linear-gradient(-45deg, #1fa2ff 0%, #61ddec 100%);
  background: -webkit-linear-gradient(-45deg, #1fa2ff 0%, #61ddec 100%);
  background: linear-gradient(135deg, #1fa2ff 0%, #61ddec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fa2ff', endColorstr='#61ddec',GradientType=1 );
  z-index: -1; }

.right-side-wrapper {
  min-height: calc(100vh - 16.8rem); }

.avatar {
  border-radius: 50%;
  object-fit: cover; }
  .avatar--small {
    height: 2.4rem;
    width: 2.4rem; }
  .avatar--medium {
    height: 4rem;
    width: 4rem; }
  .avatar--large {
    height: 8rem;
    width: 8rem; }

.icon {
  position: relative; }
  .icon--notif::after {
    color: #db4a1b;
    content: '●';
    font-size: 1.8rem;
    position: absolute;
    top: -.7rem;
    right: .3rem; }
  .icon--large {
    font-size: 2.6rem; }

.progressbar-team {
  margin-bottom: 1.6rem; }
  .progressbar-team:last-child {
    margin-bottom: 0; }
  .progressbar-team__top {
    padding-bottom: .8rem; }
  .progressbar-team__bottom {
    padding-top: .8rem; }

.tab-team__head__link-wrapper {
  padding: 0 4rem;
  position: relative;
  top: .1rem; }
  .tab-team__head__link-wrapper__link a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: .2rem;
    padding-bottom: 1.6rem;
    border-bottom: solid 0 #35A2E5;
    min-width: 12rem;
    margin-right: 2.4rem;
    color: #ADADAD;
    transition-timing-function: ease-in;
    transition: 0.3s; }
    .tab-team__head__link-wrapper__link a.active {
      padding-bottom: 1.2rem;
      border-bottom: solid 0.4rem #35A2E5;
      color: #35A2E5; }
.tab-team__body {
  border-top: 1px solid #ADADAD; }

.login-logo-wrapper {
  text-align: center;
  margin: 1.6rem 0 4rem; }
  .login-logo-wrapper img {
    width: 15.4rem; }

.quick-view__user__text {
  line-height: 4rem; }
.quick-view__user__name {
  padding-left: 1.6rem; }
.quick-view__progressbar {
  padding: 1.6rem 0; }

.side-menu__head-link {
  position: relative; }
  .side-menu__head-link::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "\f110";
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s ease-in; }
  .side-menu__head-link.collapsed::after {
    transform: translate(0, -50%) rotate(180deg);
    transition: .3s ease-out; }

/* End Content */
/* Footer */
footer {
  font-size: 0.8rem;
  color: #ADADAD;
  padding: 2.4rem 0; }
  footer a {
    color: #35A2E5; }
    footer a:hover {
      text-decoration: none;
      color: #35A2E5; }

/* End Footer */

/*# sourceMappingURL=main.css.map */
